@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
  --bg-color: #06091a;
  --primary: #06e3f6;
  --secondary: #049dc7;
  --text-color: #ffffff;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}